.toggleBar {
    display: flex;
    position: relative;
    width: fit-content;
    width: 89%;
    height: 36px;
    padding: 0;
    margin: 10px auto;
    background: #111111;
    border-radius: 18px;
    text-align: center;
}
.toggleNotSelected {
    background: none !important;

    &.disabled {
      ::v-deep .toggleText {
        color: inherit !important;
      }
    }
}
