$page-max: 1200px;
$page-min: 320px;
$content-max: 800px;
$breakpoint-a: 475px;
$breakpoint-b: 768px;
$breakpoint-c: 960px;
$breakpoint-d: 1200px;
$breakpoint-e: 1920px;

$header-height: 60px;

$breakpoint-mobile: 540px;
$breakpoint-tablet: 960px;
$breakpoint-tablet-2: 768px;
$content-max: 800px;
$content-min: 320px;
$paper-max: 900px;
$genesis-max: 1000px;
$desktop-break: 2400px;
